
body {
  background: ivory;
  background-image: url("https://i.imgur.com/xBEilIb.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: black;
  text-align: center;
  font-family: helvetica, serif;
  width: 100%;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: .5rem;
  padding: .5rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
input {
  background: white;
}
input:hover {
  background: #B0C4DE;
}
img {
  width: 30%;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
i {
  font-size: 16px;
}
h1, h2, h3, h4, h5, p {
  margin: .1rem;
  padding: 0;
}
textarea {
  margin: 0;
}
.main {
  text-align: center;
  width:100%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 10px 15px #090909;
  margin: 1rem;
}
.innerBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 5px;
  background: #d3d3d3;
  padding: 0;
  width: 100%;
  height: 100%;
}
.innerPicBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
  padding: .5rem;
  background: #d3d3d3;
  border-radius: 5px;
  box-shadow: 10px 15px #090909;
  width: 85%;
  height: 100%;
}
.picBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: .5rem;
}
.picBox > img {
  border: 2px solid black;
}
.jj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: .6rem;
}
.jj > img {
  width: 50%;
  border: 2px solid black;
  margin: .8rem;
}
.results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: .5rem;
}
.picBox > img {
  width: 45%;
  margin: .2rem;
  padding: .2rem;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: 100%;
}
.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background: #d3d3d3;
    box-shadow: 10px 15px #090909;
    padding: 1rem;
    margin: .5rem auto;
    width: 85%;
}
.delete:hover {
  background: red;
}
.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  font-size: 30px;
  width: 100%;
  height: 90px;
  background: #B0C4DE;
}
.link:hover {
  background: #d3d3d3;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #B0C4DE;
  color: black;
  padding: 1rem;
  width: 100%;
}
.footer > img {
  width: 20%;
  border: none;
}
#textarea {
  margin: .2rem;
  width: 50%;
}
#textarea:hover {
  background: #B0C4DE;
}
a:hover {
  color: #d3d3d3;
}
button:hover {
  background: #d3d3d3;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {

.jj > img {
  width: 80%;
}
.box {
  flex-direction: column;
  }
.top {
  flex-direction: column;
  }
}
